@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

body {
    font-size: 16px;
    margin: 0px;
    font-family: Nunito, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
}

img {
    width: 150px;
    height: auto;
}

.player-selection-button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 16px;
    margin-top: 16px;
}

.player-selection-message {
    font-size: 24px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    margin-top: 16px;
    margin-bottom: 0px;
}

#rock, #paper, #scissors {
    font-size: 24px;
    border: none;
    padding: 8px;
    background-color: white;
    margin: 16px;
}

#rock.selected, #paper.selected, #scissors.selected {
    transform: scale(1.2);
}

.end-round-message-container {
    display: flex;
    flex-direction: column;
    background-color: lightgrey;
    margin-top: 24px;
    align-items: center;
    margin-right: 200px;
    margin-left: 200px;
    border: 1px solid black;
    border-radius: 16px;
    padding: 12px;
    gap: 8px;
}

.end-round-message-player-choice, .end-round-message-computer-choice {
    display: flex;
}