body {
    font-size: 16px;
    margin: 0px;
}

img {
    width: 200px;
    height: auto;
}

.player-selection-button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 16px;
    margin-top: 16px;
}

#rock, #paper, #scissors {
    font-size: 24px;
    border: none;
    padding: 8px;
    background-color: white;
    margin: 16px;
}

#rock.selected, #paper.selected, #scissors.selected {
    transform: scale(1.2);
}